.nav-main {
  display: flex;
  flex-direction: column;
  background: #f6faff;
  padding: 2.4rem 2rem;
  align-items: center;
  gap: 1.5rem;
}

.logo {
  color: #1cd1e2;
  font-weight: 700;
  font-size: 1.5rem;
}

.sub-logo {
  color: #090628;
}

.setting-ico {
  display: flex;
  align-items: end;
  flex-grow: 1;
  min-width: 75%;
}
